apiVersion: apps/v1
kind: Deployment
metadata:
  name: actor
  namespace: todo
  labels:
    app: actor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: actor
  template:
    metadata:
      labels:
        app: actor
    spec:
      containers:
        - name: wasmcloud
          image: eu.gcr.io/wasmcloud-k8s-demo/wasmcloud:0.18.2-debug
          imagePullPolicy: Always
          args: ["--manifest=/etc/manifest/manifest.yaml"]
          volumeMounts:
            - name: manifest
              mountPath: "/etc/manifest"
              readOnly: true
          env:
            - name: CONTROL_HOST
              value: localhost
            - name: RPC_HOST
              value: localhost
            - name: KVCACHE_NATS_URL
              value: localhost
            - name: RUST_BACKTRACE
              value: "1"
            - name: RUST_LOG
              value: "debug"

        - name: nats-sidecar
          image: nats:2.3.2-alpine
          imagePullPolicy: IfNotPresent
          resources: {}
          command:
            - "nats-server"
            - "-DV"
            - "--addr=127.0.0.1"
            - "--config=/etc/nats-config/nats.conf"
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

          volumeMounts:
            - name: nats-config-volume
              mountPath: /etc/nats-config
            - name: nats-ca-cert
              mountPath: /etc/nats-ca-cert
              readOnly: true

      volumes:
        - name: manifest
          configMap:
            name: manifest-actor

        - name: nats-config-volume
          configMap:
            name: nats-config

        - name: nats-ca-cert
          secret:
            secretName: bogus-cert
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: manifest-actor
  namespace: todo
data:
  # TODO: refer to manifest .yaml by path rather than copy-paste
  manifest.yaml: |
    labels:
      sample: "wasmcloud todo actor"
    actors:
      - "eu.gcr.io/wasmcloud-k8s-demo/todo-backend:0.2"
