apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-capability
  namespace: todo
  labels:
    app: http-capability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: http-capability
  template:
    metadata:
      labels:
        app: http-capability
        tier: web
    spec:
      containers:
        - name: wasmcloud
          image: eu.gcr.io/wasmcloud-k8s-demo/wasmcloud:0.18.2-debug
          imagePullPolicy: Always
          args: ["--manifest=/etc/manifest/manifest.yaml"]
          volumeMounts:
            - name: manifest
              mountPath: "/etc/manifest"
              readOnly: true
          env:
            - name: CONTROL_HOST
              value: localhost
            - name: RPC_HOST
              value: localhost
            - name: KVCACHE_NATS_URL
              value: localhost
            - name: RUST_BACKTRACE
              value: "1"
            - name: RUST_LOG
              value: "debug"
          ports:
            - containerPort: 8082
          livenessProbe:
            exec:
              command:
                - bash
                - -c
                - "NATS_URL=$KVCACHE_NATS_URL nats pub devnull 'just a liveness test'"
          readinessProbe:
            exec:
              command:
                - bash
                - -c
                - "NATS_URL=$KVCACHE_NATS_URL nats pub devnull 'just a readiness test'"
        - name: nats-sidecar
          image: nats:2.3.2-alpine
          imagePullPolicy: IfNotPresent
          resources: {}
          command:
            - "nats-server"
            - "--addr=127.0.0.1"
            - "--config=/etc/nats-config/nats.conf"
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

          volumeMounts:
            - name: nats-config-volume
              mountPath: /etc/nats-config
            - name: nats-ca-cert
              mountPath: /etc/nats-ca-cert
              readOnly: true

      volumes:
        - name: manifest
          configMap:
            name: manifest-http-capability

        - name: nats-config-volume
          configMap:
            name: nats-config

        - name: nats-ca-cert
          configMap:
            name: nats-ca-cert
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: manifest-http-capability
  namespace: todo
data:
  # TODO: refer to manifest .yaml by path rather than copy-paste
  manifest.yaml: |
    labels:
      sample: "wasmcloud todo http server capability"
    capabilities:
      - image_ref: wasmcloud.azurecr.io/httpserver:0.11.1
        link_name: default
---
apiVersion: v1
kind: Service
metadata:
  name: http-capability-service
  namespace: todo
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: http-capability
  ports:
    - protocol: TCP
      name: http
      port: 8082
      targetPort: 8082
