apiVersion: v1
kind: ConfigMap
metadata:
  name: nats-config
  namespace: "nats"
  labels:
    helm.sh/chart: nats-0.8.4
    app.kubernetes.io/name: nats
    app.kubernetes.io/instance: nats
    app.kubernetes.io/version: "2.3.2"
data:
  nats.conf: |
    # PID file shared with configuration reloader.
    # pid_file: "/var/run/nats/nats.pid"

    ###############
    #             #
    # Monitoring  #
    #             #
    ###############
    http: 8222
    server_name: $POD_NAME
    #################
    #               #
    # NATS Leafnode #
    #               #
    #################
    leafnodes {
      listen: "0.0.0.0:7422"

      tls: {
        ca_file: "/etc/nats-ca-cert/ca.crt",
        timeout: 3
      }

      remotes: [
        {
          url: tls://nats.nats
          credentials: "/etc/nats-creds/user-credentials/user.ncreds"
        }
      ]
    }
