apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-http-capability
  labels:
    app: http-capability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: http-capability
  template:
    metadata:
      labels:
        app: http-capability
    spec:
      containers:
        - name: wasmcloud
          image: eu.gcr.io/wasmcloud-k8s-demo/wasmcloud:0.18.2
          imagePullPolicy: Always
          args: ["--manifest=/etc/manifest/manifest.yaml"]
          volumeMounts:
            - name: manifest
              mountPath: "/etc/manifest"
              readOnly: true
          env:
            - name: CONTROL_HOST
              value: nats-cluster
            - name: RPC_HOST
              value: nats-cluster
            - name: KVCACHE_NATS_URL
              value: nats-cluster
            - name: RUST_BACKTRACE
              value: 1
      volumes:
        - name: manifest
          configMap:
            name: manifest-http-capability
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: manifest-http-capability
data:
  # TODO: refer to manifest .yaml by path rather than copy-paste
  manifest.yaml: |
    labels:
      sample: "wasmcloud todo-backend http server capability"
    capabilities:
      - image_ref: wasmcloud.azurecr.io/httpserver:0.11.1
        link_name: default
